body {
    background-color: #333!important;
}

.auttopBody {
    background-color: #FFF!important;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: .25rem!important;
}

.bg-red {
    background-color: #8F1313;
}

.btn-red {
    color: #FFF!important;
    background-color: #BF1919!important;
    border-color: #BF1919!important;
}

.btn-red:hover {
    color: #FFF!important;
    background-color: #8F1313!important;
    border-color: #8F1313!important;
}

.breadCrumb {
    text-decoration: none;
}

.redText {
    color: #BF1919;
}

.redText:hover {
    color: #8F1313
}

.whiteText {
    color: #FFF;
}